# Specific files types
*.cache
*.dll
*.exe
*.pdb
*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log
~*.*

# Auto updated configs
config/clink_history
config/clink_history_*
config/clink_errorlevel_*
vendor/conemu-maximus5/ConEmu.xml
config/user-ConEmu.xml

# IDEs and Editors
.idea
.idea/*
.idea/**
.code
.code/**
