*.cache
*.dll
*.exe
*.pdb
*.suo
*.user
*.sdf
*.opensdf
*.tlog
*.log
~*.*

config/clink_history
config/clink_history_*
config/clink_errorlevel_*
vendor/conemu-maximus5/ConEmu.xml
config/user-ConEmu.xml
